body{
	background-color: #000000;
	color: #F5F5DC;
}
h3{
    font-size: 2em;
    margin-right: 2px; 
    color: #EE9966;
    font-weight: bold;
    text-shadow: -1px -1px 1px white, 1px 1px 1px #9E9D99;
}
