@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,700i,900|Playfair+Display');

*{

	box-sizing: border-box;
	margin: 0;
	padding: 0;


}

.news{
	display: inline-block;
	width: 83%;
	height: 1000px;
	margin-top:7%;
	margin-left: 8%;
	margin-right: 8%;
	margin-bottom: 7%;
	padding-top:5%;
	padding-left: 6%;
	padding-right: 6%;
	box-shadow:  0 0 30px rgba(0,0,0,0.5);
}

.news h1{
 
font-size: 42px;
font-family: 'Playfair Display', "sans-serif";
font-weight: 400;

}

.t{
 font-size: 109px;
font-family: 'Playfair Display', "sans-serif";
color:black;
float:left;
padding-right: 2%;


}

.news p{

	font-size: 20px;
	font-family: 'Lato', sans-serif;
	color:gray;
	font-weight: 300;
	line-height: 1.9;
	padding-top: 1%;
	margin-bottom: 2%;
	white-space:pre;

}
	
blockquote{

	font-size: 30px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-style: oblique;
	color:gray;
	white-space: pre;

}

span{
	font-size: 70px;


	
}

.put{
	border: 2px solid orange;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	color: orange;
	width: 22%;
	height: 70px;
	padding-top: 16px;
	padding-left: 6%;

	
}

.put:hover{
	background-color: orange;
	color:white;
}